<section>
  <header class="flex-header">
    <h1 class="grow-header">
      {{localize 'MYMODULE.dogs'}}
    </h1>
    <button
      class="module-control"
      type="button"
      title="{{localize "MYMODULE.fetch-random-dog"}}"
      data-action="randomize-dog"
    >
      <i class="fas fa-random fa-fw"></i>
    </button>
  </header>
</section>
<section class="module-dog-picture-container">
  {{#if this.imageUrl}}
    <img
      class="module-dog-image"
      src="{{this.imageUrl}}"
      alt="{{localize "MYMODULE.random-dog-alt"}}"
    />
  {{else}}
    <p class="module-dog-placeholder">
      🐶
    </p>
  {{/if}}
</section>